body {
    background-color: coral;
}

h1, h2 {
    font-size: 100px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin: 10px;
}

button {
    display: block;
    margin: auto;
}

.container {
    width: 600px;
    margin: auto;
    cursor: url(assets/hammer.png), auto;
}

.container:active {
    cursor: url(assets/hammer1.png), auto;
}

.soil {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.soil::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background: url(assets/soil.png) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    bottom: -10px;
}

.mole {
    width: 100%;
    height: 100%;
    background: url(assets/mole.png) bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100px;
    transition: top 0.3s;
}

.soil.appear .mole {
    top: -25px;
}